<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- 
(C) Copyright 2008, Deft Labs.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published 
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

Version: $Id$
-->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="oemware.core.ext.log4j.ANSIColorLayout"><param name="ConversionPattern" value="%d [%t] %-5p [%C] - %m%n"/></layout>
    </appender>

    <category name="oemware"><priority value="INFO"/></category>
    <category name="org.apache"><priority value="WARN"/></category>
    <category name="org.apache.commons.httpclient"><priority value="WARN"/></category>
    <category name="au.id.jericho.lib.html"><priority value="WARN"/></category>
    <category name="httpclient.wire.header"><priority value="WARN"/></category>
    <category name="httpclient.wire.content"><priority value="WARN"/></category>
    <category name="org.hibernate"><priority value="WARN"/></category>
    <category name="org.springframework"><priority value="WARN"/></category>

    <root><appender-ref ref="CONSOLE"/></root>

</log4j:configuration>
