<?xml version="1.0" encoding="UTF-8"?>

<!-- 
(C) Copyright 2008, Deft Labs.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published 
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

Version: $Id$
-->

<web-app    xmlns="http://java.sun.com/xml/ns/j2ee" 
            version="2.4" 
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
            xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Dev Server</display-name>

    <servlet>
        <description>Heartbeat Servlet</description>
        <servlet-name>heartbeatServlet</servlet-name>
        <servlet-class>oemware.core.web.HeartbeatServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>heartbeatServlet</servlet-name>
        <url-pattern>/heartbeat*</url-pattern>
    </servlet-mapping>

</web-app>
